body {
    background: 
        linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
        url("../img/1x/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.contact-form {
    max-width: 600px;
    margin: 120px auto;
    padding: 50px;
    background: rgba(0,0,0,0.75);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 40px rgba(255,255,255,0.05);
}

.contact-form h2 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 48px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.contact-form label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #aaa;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    margin-top: 8px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    color: white;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
    border-color: #ecff6d;
    box-shadow: 0 0 10px rgba(236,255,109,0.4);
}

.contact-form button {
    margin-top: 40px;
    width: 100%;
    padding: 15px;
    border-radius: 40px;
    background: #ecff6d;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: white;
    transform: scale(1.05);
}
.contact-form .success-message {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background: #4BB543;
    color: white;
    text-align: center;
    border-radius: 10px;
}
/* El select (campo cerrado) */
.contact-form select {
    background: rgba(255,255,255,0.05);
    color: white;
}

/* Las opciones desplegadas */
.contact-form select option {
    background: #0b0b0b;   /* fondo oscuro MorningStar */
    color: #ffffff;        /* amarillo MorningStar */
}
.contact-form select option:hover {
    background: #ecff6d;
    color: black;
}

